data/NtargetDistrib/statNTarget_dict.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="statNTarget">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="specs_file", minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="fileName" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		
			<xs:element name="specs_time" type="time_type" minOccurs="1" maxOccurs="1">
				<xs:alternative test="@type ='Discrete'" type="DiscreteTime"/>
				<xs:alternative test="@type ='Continous'" type="ContinousTime"/>				
			</xs:element>	

			<xs:element name="specs_region" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="regionColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="regionValues" type="regionlist" minOccurs="1" maxOccurs="1"/>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="specs_mean" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="meanColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="value_type" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="decimal" />
									<xs:enumeration value="integer" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="specs_mode" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="modeColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="value_type" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="decimal" />
									<xs:enumeration value="integer" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="specs_median" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="medianColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="value_type" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="decimal" />
									<xs:enumeration value="integer" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="specs_min" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="minColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="value_type" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="decimal" />
									<xs:enumeration value="integer" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="specs_max" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="maxColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="value_type" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="decimal" />
									<xs:enumeration value="integer" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="specs_Q1" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Q1ColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="value_type" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="decimal" />
									<xs:enumeration value="integer" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="specs_Q3" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Q3ColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="value_type" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="decimal" />
									<xs:enumeration value="integer" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="specs_IQR" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IQRColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="value_type" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="decimal" />
									<xs:enumeration value="integer" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="specs_sd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sdColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="value_type" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="decimal" />
									<xs:enumeration value="integer" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="specs_cv" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cvColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="value_type" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="decimal" />
									<xs:enumeration value="integer" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="specs_CI" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CILOWColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="CIHIGHColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="value_type" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="decimal" />
									<xs:enumeration value="integer" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="method" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="ETI" />
									<xs:enumeration value="HDI" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="specs_distr" type="distr_type" minOccurs="1" maxOccurs="1">
				<xs:alternative test="@type ='BetaNegBin'" type="BetaNegBinDistr"/>
				<xs:alternative test="@type ='NegBin'" type="NegBinDistr"/>				
				<xs:alternative test="@type ='StateNegBin'" type="StateNegBinDistr"/>				
			</xs:element>	

		</xs:sequence>
    </xs:complexType>
</xs:element>


<xs:simpleType name="regionlist">
	<xs:list itemType="xs:unsignedLong" />
</xs:simpleType>

<xs:complexType name="time_type">
	<xs:attribute name="type" type = "allowed-time-types"/>
</xs:complexType>

<xs:simpleType name="allowed-time-types">
	<xs:restriction base="xs:string">
		<xs:enumeration value="Discrete"/>
		<xs:enumeration value="Continous"/>
	</xs:restriction>
</xs:simpleType>


<xs:complexType name="DiscreteTime">
	<xs:complexContent>
		<xs:extension base = "time_type">
			<xs:sequence>
				<xs:element name="timeColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="time_start" type="xs:decimal" minOccurs="1" maxOccurs="1" />
				<xs:element name="time_end" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
				<xs:element name="time_increment" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
				<xs:element name="time_unit" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="s" />
							<xs:enumeration value="m" />
							<xs:enumeration value="h" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="ContinousTime">
	<xs:complexContent>
		<xs:extension base = "time_type">
			<xs:sequence>
				<xs:element name="timeColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="time_start" type="xs:decimal" minOccurs="1" maxOccurs="1" />
				<xs:element name="time_end" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
				<xs:element name="time_unit" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="s" />
							<xs:enumeration value="m" />
							<xs:enumeration value="h" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="distr_type">
	<xs:attribute name="type" type = "allowed-distr-types"/>
</xs:complexType>

<xs:simpleType name="allowed-distr-types">
	<xs:restriction base="xs:string">
		<xs:enumeration value="BetaNegBin"/>
		<xs:enumeration value="NegBin"/>
		<xs:enumeration value="StateNegBin"/>
	</xs:restriction>
</xs:simpleType>


<xs:complexType name="BetaNegBinDistr">
	<xs:complexContent>
		<xs:extension base = "distr_type">
			<xs:sequence>
				<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="NegBinDistr">
	<xs:complexContent>
		<xs:extension base = "distr_type">
			<xs:sequence>
				<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="StateNegBinDistr">
	<xs:complexContent>
		<xs:extension base = "distr_type">
			<xs:sequence>
				<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


</xs:schema>